body {
    background-color: #393939;
    color: white;
}

.smallhead {
    background-color: rgba(39, 39, 39, 0.70);
    color: white;
    padding-top: 10px;
     -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);

}

.item {
    margin-top: 10px;
    border-bottom: 2px;
    border-bottom-color: black;
}
.panel-body {
    color: black;
}
.panel-header {
    color: black;
}
.panel-footer {
    color: black;
}

/*.vertical-align {
    display: flex;
    align-items: center;
}*/


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

h2 {
    color: rgb(255, 255, 255);
}

footer {
    color:  #808080
}


.btn {
    font-size:20px;
    border-radius: 0px;
}

.itembtn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn-default {
    border-color: #808080;
    background-color: #808080;
    color: white;
    padding-right: 1px;
    padding-left: 1px;
}

.close {
    color: #fff; 
    opacity: 1;
}



.modal-open {
  overflow: hidden;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 5px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

.modal-dialog {
  z-index: 1050;
  width: auto;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}

.modal-content {
  position: relative;
  background-color: rgba(39, 39, 39, 0.70);
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 1.00);
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  min-height: 16.428571429px;
  padding: 10px;
  border-bottom: 0px solid rgba(229, 229, 229, 0.00);
}

.modal-header .close {
  margin-top: -5px;
}

.modal-title {
  margin: 0;
  line-height: 0
}

.modal-body {
  position: relative;
  padding: 20px;
}

.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/*@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    left: 50%;
    width: 600px;
    height: 500px;
    top: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}*/
@media screen and (min-width: 854px) {
  .modal-dialog {
    position: absolute;
    width: 854px;
    left: 50%;
    margin-left: -427px;
    height: 480px;
    top: 50%;
    margin-top: -240px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}