@model MovieStoreDAL.Movie


@{
    ViewBag.Title = "Buy";
}

<h2>Shopping Cart</h2>



<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-left"><b>Item/s</b></p>
                </div>

                <div class="panel-body">
                    <div class="container-fluid item">

                        <div class="row">

                            <div class="col-md-2 col-lg-2">
                                <p><img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-responsive" alt="No Cover" style="width: 100%; height: 100%"></p>
                            </div>
                            <div class="col-md-5">
                                <p class="text-left">@Html.DisplayFor(model => model.Title)</p>
                                <p class="text-left">@Html.DisplayFor(model => model.Year)</p>
                                <a href="/User/Movie/Index" class="itembtn btn-info" role="button">Edit</a>
                                <a href="/User/Movie/Index" class="itembtn btn-danger" role="button">Delete</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-left"><b>Order Summary</b></p>
                </div>

                <div class="panel-body">
                    <div class="container">

                        <div class="row">

                            <div class="col-md-2 col-lg-6">
                                <p class="text-left">@Html.DisplayFor(model => model.Title)</p>
                            </div>
                            <div class="col-md-2 col-lg-6">
                                <p class="text-right">$@Html.DisplayFor(model => model.Price)</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="container">

                        <div class="row">

                            <div class="col-md-2 col-lg-6">
                                <div><p class="text-left"><b>Total</b></p></div>
                            </div>
                            <div class="col-md-2 col-lg-6">
                                <div><p class="text-right">$@Html.DisplayFor(model => model.Price)</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/User/Movie/Index" class="btn btn-success btn-block" role="button">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
        </div>
    </div>
</div>






